## Data Loading, Storage, and File Formats

In [1]:
import os
a = os.listdir('.')
a

['.ipynb_checkpoints',
 'abc.txt',
 'abc.xml',
 'allData.csv',
 'AllTask.csv',
 'Book1.xlsx',
 'data.json',
 'index.html',
 'mydata.csv',
 'mydata.sqlite',
 'Pandas Ch 6.ipynb',
 'store.h5',
 'Task_1.docx',
 'TAXRATES1.csv']

In [2]:
import pandas as pd

# read_csv

Load delimited data from a file, URL, or file-like object; use comma as default delimiter

In [5]:
data = pd.read_csv('TAXRATES1.csv')
data

,Unnamed: 0,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,0,AK,one,ANCHORAGE BOROUGH,0.0,0.0,0.0,NaN,0.0,1
1,1,AK,one,ANCHORAGE BOROUGH,0.0,NaN,0.0,0.0,0.0,2
2,2,AK,two,ANCHORAGE BOROUGH,0.0,0.0,NaN,0.0,NaN,3
3,3,AK,two,ANCHORAGE BOROUGH,NaN,0.0,0.0,0.0,0.0,4

In [6]:
pd.read_csv('TAXRATES1.csv', header=None) # for Default column names

,0,1,2,3,4,5,6,7,8,9
0,NaN,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
1,0.0,AK,one,ANCHORAGE BOROUGH,0,0,0,NaN,0,1
2,1.0,AK,one,ANCHORAGE BOROUGH,0,NaN,0,0,0,2
3,2.0,AK,two,ANCHORAGE BOROUGH,0,0,NaN,0,NaN,3
4,3.0,AK,two,ANCHORAGE BOROUGH,NaN,0,0,0,0,4

In [7]:
pd.read_csv('TAXRATES1.csv', names=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']) # for custom columns

,a,b,c,d,e,f,g,h,i,j
0,NaN,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
1,0.0,AK,one,ANCHORAGE BOROUGH,0,0,0,NaN,0,1
2,1.0,AK,one,ANCHORAGE BOROUGH,0,NaN,0,0,0,2
3,2.0,AK,two,ANCHORAGE BOROUGH,0,0,NaN,0,NaN,3
4,3.0,AK,two,ANCHORAGE BOROUGH,NaN,0,0,0,0,4

In [8]:
pd.read_csv('TAXRATES1.csv', names=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], index_col='j') # Indexing through any column

,a,b,c,d,e,f,g,h,i
j,,,,,,,,,
RiskLevel,NaN,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate
1,0.0,AK,one,ANCHORAGE BOROUGH,0,0,0,NaN,0
2,1.0,AK,one,ANCHORAGE BOROUGH,0,NaN,0,0,0
3,2.0,AK,two,ANCHORAGE BOROUGH,0,0,NaN,0,NaN
4,3.0,AK,two,ANCHORAGE BOROUGH,NaN,0,0,0,0

In [7]:
pd.read_csv('TAXRATES1.csv', index_col=['ZipCode','RiskLevel']) # Indexing multiple columns

                   Unnamed: 0 State      TaxRegionName  StateRate  \
ZipCode RiskLevel
one     1                   0    AK  ANCHORAGE BOROUGH        0.0
        2                   1    AK  ANCHORAGE BOROUGH        0.0
two     3                   2    AK  ANCHORAGE BOROUGH        0.0
        4                   3    AK  ANCHORAGE BOROUGH        NaN

                   EstimatedCombinedRate  EstimatedCountyRate  \
ZipCode RiskLevel
one     1                            0.0                  0.0
        2                            NaN                  0.0
two     3                            0.0                  NaN
        4                            0.0                  0.0

                   EstimatedCityRate  EstimatedSpecialRate
ZipCode RiskLevel
one     1                        NaN                   0.0
        2                        0.0                   0.0
two     3                        0.0                   NaN
        4                        0.0                   0.0

In [8]:
pd.isnull(data) #if null return True else False

,Unnamed: 0,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,True,False,True,False
3,False,False,False,False,True,False,False,False,False,False

In [12]:
pd.read_csv('TAXRATES1.csv', na_values=[0]) #na_values m jo bhi data do agar exist krta ho to to wo null m conevrt krdeta hai

,Unnamed: 0,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,NaN,AK,one,ANCHORAGE BOROUGH,NaN,NaN,NaN,NaN,NaN,1
1,1.0,AK,one,ANCHORAGE BOROUGH,NaN,NaN,NaN,NaN,NaN,2
2,2.0,AK,two,ANCHORAGE BOROUGH,NaN,NaN,NaN,NaN,NaN,3
3,3.0,AK,two,ANCHORAGE BOROUGH,NaN,NaN,NaN,NaN,NaN,4

# path 
String indicating filesystem location, URL, or file-like object

# sep or delimiter 
Character sequence or regular expression to use to split fields in each row

# header 
Row number to use as column names; defaults to 0 (first row), but should be None if there is no
header row

# index_col 
Column numbers or names to use as the row index in the result; can be a single name/number or a
list of them for a hierarchical index

# names 
List of column names for result, combine with header=None

# skiprows 
Number of rows at beginning of file to ignore or list of row numbers (starting from 0) to skip.

# na_values 
Sequence of values to replace with NA.
# comment 
Character(s) to split comments off the end of lines.

# parse_dates 
Attempt to parse data to datetime; False by default. If True, will attempt to parse all columns.
Otherwise can specify a list of column numbers or name to parse. If element of list is tuple or list, will
combine multiple columns together and parse to date (e.g., if date/time split across two columns).

# keep_date_col 
If joining columns to parse date, keep the joined columns; False by default.
# converters 
Dict containing column number of name mapping to functions (e.g., {'foo': f} would apply the
function f to all values in the 'foo' column).

# dayfirst 
When parsing potentially ambiguous dates, treat as international format (e.g., 7/6/2012 -> June 7,
2012); False by default.
# date_parser 
Function to use to parse dates.

# nrows 
Number of rows to read from beginning of file.
# iterator 
Return a TextParser object for reading file piecemeal.

# chunksize 
For iteration, size of file chunks.
# skip_footer 
Number of lines to ignore at end of file.

# verbose 
Print various parser output information, like the number of missing values placed in non-numeric
# encoding 
Text encoding for Unicode (e.g., 'utf-8' for UTF-8 encoded text).

# squeeze 
If the parsed data only contains one column, return a Series.
# thousands 
Separator for thousands (e.g., ',' or '.').

# Reading Text Files in Pieces

In [13]:
#pd.options.display.max_rows = 10 # display maximum 10 rows in output
pd.read_csv('TAXRATES1.csv')

,Unnamed: 0,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,0,AK,one,ANCHORAGE BOROUGH,0.0,0.0,0.0,NaN,0.0,1
1,1,AK,one,ANCHORAGE BOROUGH,0.0,NaN,0.0,0.0,0.0,2
2,2,AK,two,ANCHORAGE BOROUGH,0.0,0.0,NaN,0.0,NaN,3
3,3,AK,two,ANCHORAGE BOROUGH,NaN,0.0,0.0,0.0,0.0,4

In [17]:
pd.read_csv('TAXRATES1.csv') # load 2 rows data from file

,Unnamed: 0,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,0,AK,one,ANCHORAGE BOROUGH,0.0,0.0,0.0,NaN,0.0,1
1,1,AK,one,ANCHORAGE BOROUGH,0.0,NaN,0.0,0.0,0.0,2
2,2,AK,two,ANCHORAGE BOROUGH,0.0,0.0,NaN,0.0,NaN,3
3,3,AK,two,ANCHORAGE BOROUGH,NaN,0.0,0.0,0.0,0.0,4

In [18]:
chunkread = pd.read_csv('TAXRATES1.csv', chunksize=2) # To read a file in pieces, specify a chunksize as a number of rows
for i in chunkread:
    print(i)

   Unnamed: 0 State ZipCode      TaxRegionName  StateRate  \
0           0    AK     one  ANCHORAGE BOROUGH          0
1           1    AK     one  ANCHORAGE BOROUGH          0

   EstimatedCombinedRate  EstimatedCountyRate  EstimatedCityRate  \
0                    0.0                    0                NaN
1                    NaN                    0                0.0

   EstimatedSpecialRate  RiskLevel
0                     0          1
1                     0          2
   Unnamed: 0 State ZipCode      TaxRegionName  StateRate  \
2           2    AK     two  ANCHORAGE BOROUGH        0.0
3           3    AK     two  ANCHORAGE BOROUGH        NaN

   EstimatedCombinedRate  EstimatedCountyRate  EstimatedCityRate  \
2                      0                  NaN                  0
3                      0                  0.0                  0

   EstimatedSpecialRate  RiskLevel
2                   NaN          3
3                   0.0          4

In [20]:
import csv
# For any file with a single-character delimiter, you can use Pythonâ€™s built-in csv module.
# To use it, pass any open file or file-like object to csv.reader:
f = open('TAXRATES1.csv')
reader = csv.reader(f)
# reader = list(csv.reader(f)) # Without loop
reader

In [14]:
for line in reader:
    print(line)

['', 'State', 'ZipCode', 'TaxRegionName', 'StateRate', 'EstimatedCombinedRate', 'EstimatedCountyRate', 'EstimatedCityRate', 'EstimatedSpecialRate', 'RiskLevel']
['0', 'AK', 'one', 'ANCHORAGE BOROUGH', '0', '0', '0', '', '0', '1']
['1', 'AK', 'one', 'ANCHORAGE BOROUGH', '0', '', '0', '0', '0', '2']
['2', 'AK', 'two', 'ANCHORAGE BOROUGH', '0', '0', '', '0', '', '3']
['3', 'AK', 'two', 'ANCHORAGE BOROUGH', '', '0', '0', '0', '0', '4']

In [43]:
with open('TAXRATES1.csv') as f:
    lines = list(csv.reader(f))
lines

[['',
  'State',
  'ZipCode',
  'TaxRegionName',
  'StateRate',
  'EstimatedCombinedRate',
  'EstimatedCountyRate',
  'EstimatedCityRate',
  'EstimatedSpecialRate',
  'RiskLevel'],
 ['0', 'AK', 'one', 'ANCHORAGE BOROUGH', '0', '0', '0', '', '0', '1'],
 ['1', 'AK', 'one', 'ANCHORAGE BOROUGH', '0', '', '0', '0', '0', '2'],
 ['2', 'AK', 'two', 'ANCHORAGE BOROUGH', '0', '0', '', '0', '', '3'],
 ['3', 'AK', 'two', 'ANCHORAGE BOROUGH', '', '0', '0', '0', '0', '4']]

In [48]:
header, values = lines[0], lines[1:]

values

[['0', 'AK', 'one', 'ANCHORAGE BOROUGH', '0', '0', '0', '', '0', '1'],
 ['1', 'AK', 'one', 'ANCHORAGE BOROUGH', '0', '', '0', '0', '0', '2'],
 ['2', 'AK', 'two', 'ANCHORAGE BOROUGH', '0', '0', '', '0', '', '3'],
 ['3', 'AK', 'two', 'ANCHORAGE BOROUGH', '', '0', '0', '0', '0', '4']]

In [49]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'': ('0', '1', '2', '3'),
 'State': ('AK', 'AK', 'AK', 'AK'),
 'ZipCode': ('one', 'one', 'two', 'two'),
 'TaxRegionName': ('ANCHORAGE BOROUGH',
  'ANCHORAGE BOROUGH',
  'ANCHORAGE BOROUGH',
  'ANCHORAGE BOROUGH'),
 'StateRate': ('0', '0', '0', ''),
 'EstimatedCombinedRate': ('0', '', '0', '0'),
 'EstimatedCountyRate': ('0', '0', '', '0'),
 'EstimatedCityRate': ('', '0', '0', '0'),
 'EstimatedSpecialRate': ('0', '0', '', '0'),
 'RiskLevel': ('1', '2', '3', '4')}

In [50]:
pd.DataFrame(data_dict)

,,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,0,AK,one,ANCHORAGE BOROUGH,0,0,0,,0,1
1,1,AK,one,ANCHORAGE BOROUGH,0,,0,0,0,2
2,2,AK,two,ANCHORAGE BOROUGH,0,0,,0,,3
3,3,AK,two,ANCHORAGE BOROUGH,,0,0,0,0,4

# CSV dialect options
## delimiter 
One-character string to separate fields; defaults to ','.
## lineterminator 
Line terminator for writing; defaults to '\r\n'. Reader ignores this and recognizes cross-platform
line terminators.
## quotechar 
Quote character for fields with special characters (like a delimiter); default is '"'.

## quoting 
Quoting convention. Options include csv.QUOTE_ALL (quote all fields), csv.QUOTE_MINI
MAL (only fields with special characters like the delimiter), csv.QUOTE_NONNUMERIC, and
csv.QUOTE_NONE (no quoting). See Pythonâ€™s documentation for full details. Defaults to
QUOTE_MINIMAL.

## skipinitialspace 
Ignore whitespace after each delimiter; default is False.
## doublequote 
How to handle quoting character inside a field; if True, it is doubled (see online documentation
for full detail and behavior).
## escapechar 
String to escape the delimiter if quoting is set to csv.QUOTE_NONE; disabled by default

# JSON Data 
## (JavaScript Object Notation)

In [62]:
obj ="""{"name": "Wes",
    "places_lived": ["United States", "Spain", "Germany"],
    "pet": "MYPET",
    "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
                 {"name": "Katie", "age": 38,"pets": ["Sixes", "Stache", "Cisco"]}]
                    }"""

print(obj)

{"name": "Wes",
    "places_lived": ["United States", "Spain", "Germany"],
    "pet": "MYPET",
    "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
                 {"name": "Katie", "age": 38,"pets": ["Sixes", "Stache", "Cisco"]}]
                    }

In [63]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': 'MYPET',
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [19]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [20]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

# read_table

Load delimited data from a file, URL, or file-like object; use tab ('\t') as default delimiter

In [21]:
txt = pd.read_table('TAXRATES1.csv')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [22]:
txt

  ,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0              0,AK,one,ANCHORAGE BOROUGH,0,0,0,,0,1
1              1,AK,one,ANCHORAGE BOROUGH,0,,0,0,0,2
2               2,AK,two,ANCHORAGE BOROUGH,0,0,,0,,3
3              3,AK,two,ANCHORAGE BOROUGH,,0,0,0,0,4

In [23]:
fwf = pd.read_fwf('TAXRATES1.csv')

# read_fwf
## Read data in fixed-width column format (i.e., no delimiters)
Means same as file

In [24]:
fwf

  ,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0              0,AK,one,ANCHORAGE BOROUGH,0,0,0,,0,1
1              1,AK,one,ANCHORAGE BOROUGH,0,,0,0,0,2
2               2,AK,two,ANCHORAGE BOROUGH,0,0,,0,,3
3              3,AK,two,ANCHORAGE BOROUGH,,0,0,0,0,4

# read_clipboard
Version of read_table that reads data from the clipboard; useful for converting tables from web pages
I copied this***==>
Company	Contact	Country
Alfreds	Maria	Germany
Centro	Francisco	Mexico
Ernst	Roland	Austria
Island	Helen	UK
Laughing	Yoshi	Canada
Magazzini	Giovanni	Italy

In [25]:
clip = pd.read_clipboard()
clip

     Company    Contact  Country
0    Alfreds      Maria  Germany
1     Centro  Francisco   Mexico
2      Ernst     Roland  Austria
3     Island      Helen       UK
4   Laughing      Yoshi   Canada
5  Magazzini   Giovanni    Italy

# read_excel
Read tabular data from an Excel XLS or XLSX file
excel ki xlsx ki file se data read krta hai.

# read_hdf
Read HDF5 files written by pandas

In [26]:
df = pd.DataFrame([[1, 1.0, 'a']], columns=['x', 'y', 'z'])
df.to_hdf('./store.h5','data')

In [27]:
reread = pd.read_hdf('./store.h5')
reread

   x    y  z
0  1  1.0  a

# read_html 
Read all tables found in the given HTML document
HTML file

In [ ]:
# %load index.html
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds</td>
    <td>Maria</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro</td>
    <td>Francisco</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst</td>
    <td>Roland</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island</td>
    <td>Helen</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing</td>
    <td>Yoshi</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini</td>
    <td>Giovanni</td>
    <td>Italy</td>
  </tr>
</table>

</body>
</html>

In [29]:
htmlReader = pd.read_html('index.html')

# read_json 
Read data from a JSON (JavaScript Object Notation) string representation.

In [70]:
# %load data.json
obj = '''{"columns":["col 1","col 2"],
  "index":["row 1","row 2"],
  "data":[["a","b"],["c","d"]]}'''
obj

'{"columns":["col 1","col 2"],\n  "index":["row 1","row 2"],\n  "data":[["a","b"],["c","d"]]}'

In [71]:
readJson = pd.read_json(obj)
readJson

  columns  index    data
0   col 1  row 1  [a, b]
1   col 2  row 2  [c, d]

In [72]:
dic = {"columns":["col 1","col 2"],
  "index":["row 1","row 2"],
  "data":[["a","b"],["c","d"]]}

In [73]:
asjson = json.dumps(dic)
asjson

'{"columns": ["col 1", "col 2"], "index": ["row 1", "row 2"], "data": [["a", "b"], ["c", "d"]]}'

# read_msgpack 
Read pandas data encoded using the MessagePack binary format
# read_pickle 
Read an arbitrary object stored in Python pickle format
# read_sas 
Read a SAS dataset stored in one of the SAS systemâ€™s custom storage formats
# read_sql 
Read the results of a SQL query (using SQLAlchemy) as a pandas DataFrame
# read_stata 
Read a dataset from Stata file format
# read_feather 
Read the Feather binary file format

# XML and HTML: Web Scraping

In [8]:
import lxml
import pandas as pd

In [10]:
tables = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')
tables

[                                             Bank Name                City  \
 0                                        Resolute Bank              Maumee
 1                          Louisa Community Bank, Inc.              Louisa
 2                                 The Enloe State Bank              Cooper
 3                  Washington Federal Bank for Savings             Chicago
 4      The Farmers and Merchants State Bank of Argonia             Argonia
 5                                  Fayette County Bank          Saint Elmo
 6    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
 7                                       First NBC Bank         New Orleans
 8                                        Proficio Bank  Cottonwood Heights
 9                        Seaway Bank and Trust Company             Chicago
 10                              Harvest Community Bank          Pennsville
 11                                         Allied Bank            Mulberry
 12                        The Woodbury Banking Company            Woodbury
 13                              First CornerStone Bank     King of Prussia
 14                                  Trust Company Bank             Memphis
 15                          North Milwaukee State Bank           Milwaukee
 16                              Hometown National Bank            Longview
 17                                 The Bank of Georgia      Peachtree City
 18                                        Premier Bank              Denver
 19                                      Edgebrook Bank             Chicago
 20                              Doral Bank  En EspaÃ±ol            San Juan
 21                   Capitol City Bank & Trust Company             Atlanta
 22                             Highland Community Bank             Chicago
 23                    First National Bank of Crestview           Crestview
 24                                  Northern Star Bank             Mankato
 25              Frontier Bank, FSB D/B/A El Paseo Bank         Palm Desert
 26               The National Republic Bank of Chicago             Chicago
 27                                      NBRS Financial          Rising Sun
 28                               GreenChoice Bank, fsb             Chicago
 29                            Eastside Commercial Bank             Conyers
 ..                                                 ...                 ...
 528                                  ANB Financial, NA         Bentonville
 529                                          Hume Bank                Hume
 530                             Douglass National Bank         Kansas City
 531                                  Miami Valley Bank            Lakeview
 532                                            NetBank          Alpharetta
 533                          Metropolitan Savings Bank          Pittsburgh
 534                                    Bank of Ephraim             Ephraim
 535                                      Reliance Bank        White Plains
 536              Guaranty National Bank of Tallahassee         Tallahassee
 537                                Dollar Savings Bank              Newark
 538                               Pulaski Savings Bank        Philadelphia
 539              First National Bank of Blanchardville      Blanchardville
 540                              Southern Pacific Bank            Torrance
 541                        Farmers Bank of Cheneyville         Cheneyville
 542                                      Bank of Alamo               Alamo
 543             AmTrade International Bank  En EspaÃ±ol             Atlanta
 544                     Universal Federal Savings Bank             Chicago
 545                       Connecticut Bank of Commerce            Stamford
 546                                   New Century Bank     Shelby Township
 547                              Net 1st National Bank          Boca Raton
 548                                       NextBank, NA             Phoenix
 549                           Oakwood Deposit Bank Co.             Oakwood
 550                              Bank of Sierra Blanca       Sierra Blanca
 551                      Hamilton Bank, NA  En EspaÃ±ol               Miami
 552                             Sinclair National Bank            Gravette
 553                                 Superior Bank, FSB            Hinsdale
 554                                Malta National Bank               Malta
 555                    First Alliance Bank & Trust Co.          Manchester
 556                  National State Bank of Metropolis          Metropolis
 557                                   Bank of Honolulu            Honolulu

      ST   CERT                Acquiring Institution        Closing Date  \
 0    OH  58317                   Buckeye State Bank    October 25, 2019
 1    KY  58112    Kentucky Farmers Bank Corporation    October 25, 2019
 2    TX  10716                   Legend Bank, N. A.        May 31, 2019
 3    IL  30570                   Royal Savings Bank   December 15, 2017
 4    KS  17719                          Conway Bank    October 13, 2017
 5    IL   1802            United Fidelity Bank, fsb        May 26, 2017
 6    WI  30003  First-Citizens Bank & Trust Company         May 5, 2017
 7    LA  58302                         Whitney Bank      April 28, 2017
 8    UT  35495                    Cache Valley Bank       March 3, 2017
 9    IL  19328                  State Bank of Texas    January 27, 2017
 10   NJ  34951  First-Citizens Bank & Trust Company    January 13, 2017
 11   AR     91                         Today's Bank  September 23, 2016
 12   GA  11297                          United Bank     August 19, 2016
 13   PA  35312  First-Citizens Bank & Trust Company         May 6, 2016
 14   TN   9956           The Bank of Fayette County      April 29, 2016
 15   WI  20364  First-Citizens Bank & Trust Company      March 11, 2016
 16   WA  35156                       Twin City Bank     October 2, 2015
 17   GA  35259                        Fidelity Bank     October 2, 2015
 18   CO  34112            United Fidelity Bank, fsb       July 10, 2015
 19   IL  57772             Republic Bank of Chicago         May 8, 2015
 20   PR  32102         Banco Popular de Puerto Rico   February 27, 2015
 21   GA  33938  First-Citizens Bank & Trust Company   February 13, 2015
 22   IL  20290            United Fidelity Bank, fsb    January 23, 2015
 23   FL  17557                       First NBC Bank    January 16, 2015
 24   MN  34983                            BankVista   December 19, 2014
 25   CA  34738    Bank of Southern California, N.A.    November 7, 2014
 26   IL    916                  State Bank of Texas    October 24, 2014
 27   MD   4862                          Howard Bank    October 17, 2014
 28   IL  28462                 Providence Bank, LLC       July 25, 2014
 29   GA  58125            Community & Southern Bank       July 18, 2014
 ..   ..    ...                                  ...                 ...
 528  AR  33901       Pulaski Bank and Trust Company         May 9, 2008
 529  MO   1971                        Security Bank       March 7, 2008
 530  MO  24660       Liberty Bank and Trust Company    January 25, 2008
 531  OH  16848         The Citizens Banking Company     October 4, 2007
 532  GA  32575                           ING DIRECT  September 28, 2007
 533  PA  35353  Allegheny Valley Bank of Pittsburgh    February 2, 2007
 534  UT   1249                        Far West Bank       June 25, 2004
 535  NY  26778                     Union State Bank      March 19, 2004
 536  FL  26838              Hancock Bank of Florida      March 12, 2004
 537  NJ  31330                          No Acquirer   February 14, 2004
 538  PA  27203                       Earthstar Bank   November 14, 2003
 539  WI  11639                        The Park Bank         May 9, 2003
 540  CA  27094                            Beal Bank    February 7, 2003
 541  LA  16445            Sabine State Bank & Trust   December 17, 2002
 542  TN   9961                          No Acquirer    November 8, 2002
 543  GA  33784                          No Acquirer  September 30, 2002
 544  IL  29355               Chicago Community Bank       June 27, 2002
 545  CT  19183                   Hudson United Bank       June 26, 2002
 546  MI  34979                          No Acquirer      March 28, 2002
 547  FL  26652                       Bank Leumi USA       March 1, 2002
 548  AZ  22314                          No Acquirer    February 7, 2002
 549  OH   8966       The State Bank & Trust Company    February 1, 2002
 550  TX  22002     The Security State Bank of Pecos    January 18, 2002
 551  FL  24382     Israel Discount Bank of New York    January 11, 2002
 552  AR  34248                   Delta Trust & Bank   September 7, 2001
 553  IL  32646                Superior Federal, FSB       July 27, 2001
 554  OH   6629                    North Valley Bank         May 3, 2001
 555  NH  34264  Southern New Hampshire Bank & Trust    February 2, 2001
 556  IL   3815              Banterra Bank of Marion   December 14, 2000
 557  HI  21029                   Bank of the Orient    October 13, 2000

            Updated Date
 0      October 25, 2019
 1      October 25, 2019
 2       August 22, 2019
 3         July 24, 2019
 4       August 12, 2019
 5      January 29, 2019
 6        March 22, 2018
 7      January 29, 2019
 8      January 29, 2019
 9      January 29, 2019
 10   September 20, 2019
 11         May 13, 2019
 12    December 13, 2018
 13    November 13, 2018
 14   September 14, 2018
 15     January 29, 2019
 16    February 19, 2018
 17         July 9, 2018
 18    February 20, 2018
 19     January 29, 2019
 20     January 29, 2019
 21     January 29, 2019
 22    November 15, 2017
 23    November 15, 2017
 24      January 3, 2018
 25    November 10, 2016
 26      January 6, 2016
 27     January 29, 2019
 28    December 12, 2016
 29      October 6, 2017
 ..                  ...
 528    February 1, 2019
 529    January 31, 2019
 530    October 26, 2012
 531  September 12, 2016
 532    January 31, 2019
 533    October 27, 2010
 534       April 9, 2008
 535       April 9, 2008
 536      April 17, 2018
 537       April 9, 2008
 538     October 6, 2017
 539        June 5, 2012
 540    October 20, 2008
 541    October 20, 2004
 542      March 18, 2005
 543  September 11, 2006
 544     October 6, 2017
 545   February 14, 2012
 546      March 18, 2005
 547       April 9, 2008
 548    February 5, 2015
 549    October 25, 2012
 550    November 6, 2003
 551  September 21, 2015
 552     October 6, 2017
 553     August 19, 2014
 554   November 18, 2002
 555   February 18, 2003
 556      March 17, 2005
 557      March 17, 2005

 [558 rows x 7 columns]]

In [11]:
len(tables)

1

In [12]:
failures = tables[0]
failures

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019","October 25, 2019"
1,"Louisa Community Bank, Inc.",Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019","October 25, 2019"
2,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","August 22, 2019"
3,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","July 24, 2019"
4,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","August 12, 2019"
5,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","January 29, 2019"
6,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
7,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","January 29, 2019"
8,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,"March 3, 2017","January 29, 2019"
9,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,"January 27, 2017","January 29, 2019"
10,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,"January 13, 2017","September 20, 2019"
11,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","May 13, 2019"
12,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","December 13, 2018"
13,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","November 13, 2018"
14,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 14, 2018"
15,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","January 29, 2019"
16,Hometown National Bank,Longview,WA,35156,Twin City Bank,"October 2, 2015","February 19, 2018"
17,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,"October 2, 2015","July 9, 2018"
18,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb","July 10, 2015","February 20, 2018"
19,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,"May 8, 2015","January 29, 2019"
20,Doral Bank En EspaÃ±ol,San Juan,PR,32102,Banco Popular de Puerto Rico,"February 27, 2015","January 29, 2019"
21,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,"February 13, 2015","January 29, 2019"
22,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb","January 23, 2015","November 15, 2017"
23,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,"January 16, 2015","November 15, 2017"
24,Northern Star Bank,Mankato,MN,34983,BankVista,"December 19, 2014","January 3, 2018"
25,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.","November 7, 2014","November 10, 2016"
26,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,"October 24, 2014","January 6, 2016"
27,NBRS Financial,Rising Sun,MD,4862,Howard Bank,"October 17, 2014","January 29, 2019"
28,"GreenChoice Bank, fsb",Chicago,IL,28462,"Providence Bank, LLC","July 25, 2014","December 12, 2016"
29,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,"July 18, 2014","October 6, 2017"
...,...,...,...,...,...,...,...
528,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,"May 9, 2008","February 1, 2019"
529,Hume Bank,Hume,MO,1971,Security Bank,"March 7, 2008","January 31, 2019"
530,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,"January 25, 2008","October 26, 2012"
531,Miami Valley Bank,Lakeview,OH,16848,The Citizens Banking Company,"October 4, 2007","September 12, 2016"
532,NetBank,Alpharetta,GA,32575,ING DIRECT,"September 28, 2007","January 31, 2019"
533,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,"February 2, 2007","October 27, 2010"
534,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,"June 25, 2004","April 9, 2008"
535,Reliance Bank,White Plains,NY,26778,Union State Bank,"March 19, 2004","April 9, 2008"
536,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,"March 12, 2004","April 17, 2018"
537,Dollar Savings Bank,Newark,NJ,31330,No Acquirer,"February 14, 2004","April 9, 2008"
538,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,"November 14, 2003","October 6, 2017"
539,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,"May 9, 2003","June 5, 2012"
540,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,"February 7, 2003","October 20, 2008"
541,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,"December 17, 2002","October 20, 2004"
542,Bank of Alamo,Alamo,TN,9961,No Acquirer,"November 8, 2002","March 18, 2005"
543,AmTrade International Bank En EspaÃ±ol,Atlanta,GA,33784,No Acquirer,"September 30, 2002","September 11, 2006"
544,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,"June 27, 2002","October 6, 2017"
545,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,"June 26, 2002","February 14, 2012"
546,New Century Bank,Shelby Township,MI,34979,No Acquirer,"March 28, 2002","March 18, 2005"
547,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,"March 1, 2002","April 9, 2008"
548,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,"February 7, 2002","February 5, 2015"
549,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,"February 1, 2002","October 25, 2012"
550,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,"January 18, 2002","November 6, 2003"
551,"Hamilton Bank, NA En EspaÃ±ol",Miami,FL,24382,Israel Discount Bank of New York,"January 11, 2002","September 21, 2015"
552,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,"September 7, 2001","October 6, 2017"
553,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
554,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
555,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
556,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
557,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [13]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019","October 25, 2019"
1,"Louisa Community Bank, Inc.",Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019","October 25, 2019"
2,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","August 22, 2019"
3,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","July 24, 2019"
4,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","August 12, 2019"

In [14]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps

0     2019-10-25
1     2019-10-25
2     2019-05-31
3     2017-12-15
4     2017-10-13
5     2017-05-26
6     2017-05-05
7     2017-04-28
8     2017-03-03
9     2017-01-27
10    2017-01-13
11    2016-09-23
12    2016-08-19
13    2016-05-06
14    2016-04-29
15    2016-03-11
16    2015-10-02
17    2015-10-02
18    2015-07-10
19    2015-05-08
20    2015-02-27
21    2015-02-13
22    2015-01-23
23    2015-01-16
24    2014-12-19
25    2014-11-07
26    2014-10-24
27    2014-10-17
28    2014-07-25
29    2014-07-18
         ...
528   2008-05-09
529   2008-03-07
530   2008-01-25
531   2007-10-04
532   2007-09-28
533   2007-02-02
534   2004-06-25
535   2004-03-19
536   2004-03-12
537   2004-02-14
538   2003-11-14
539   2003-05-09
540   2003-02-07
541   2002-12-17
542   2002-11-08
543   2002-09-30
544   2002-06-27
545   2002-06-26
546   2002-03-28
547   2002-03-01
548   2002-02-07
549   2002-02-01
550   2002-01-18
551   2002-01-11
552   2001-09-07
553   2001-07-27
554   2001-05-03
555   2001-02-02
556   2000-12-14
557   2000-10-13
Name: Closing Date, Length: 558, dtype: datetime64[ns]

In [18]:
close_timestamps.dt.date.value_counts()

2009-10-30    9
2010-08-20    8
2010-04-16    8
2010-10-22    7
2009-07-02    7
2009-10-23    7
2009-12-18    7
2010-04-30    7
2010-03-19    7
2010-04-23    7
2009-07-24    7
2010-07-23    7
2010-12-17    6
2011-04-15    6
2010-09-17    6
2010-01-29    6
2010-07-16    6
2009-12-04    6
2009-11-06    5
2010-05-28    5
2009-06-26    5
2010-01-22    5
2012-04-27    5
2011-04-29    5
2012-07-20    5
2009-09-04    5
2009-08-14    5
2010-07-30    5
2009-07-31    5
2012-01-27    4
             ..
2015-01-16    1
2008-10-31    1
2012-07-13    1
2008-01-25    1
2008-08-22    1
2014-07-18    1
2011-09-30    1
2013-01-11    1
2017-05-26    1
2013-06-07    1
2002-01-11    1
2008-03-07    1
2015-02-27    1
2016-09-23    1
2003-05-09    1
2011-05-27    1
2007-09-28    1
2008-09-05    1
2014-05-16    1
2007-10-04    1
2014-01-31    1
2010-03-11    1
2009-06-05    1
2017-01-27    1
2012-07-06    1
2010-06-11    1
2013-05-31    1
2014-12-19    1
2011-01-14    1
2014-06-27    1
Name: Closing Date, Length: 253, dtype: int64

In [19]:
dateCount = close_timestamps.dt.date.value_counts() #Count Dates in this column
dayCount = close_timestamps.dt.day.value_counts() #Count Days in this column
monthCount = close_timestamps.dt.month.value_counts() #Count months in this column
yearCount = close_timestamps.dt.year.value_counts() #Count years in this column
dateCount

2009-10-30    9
2010-08-20    8
2010-04-16    8
2010-10-22    7
2009-07-02    7
2009-10-23    7
2009-12-18    7
2010-04-30    7
2010-03-19    7
2010-04-23    7
2009-07-24    7
2010-07-23    7
2010-12-17    6
2011-04-15    6
2010-09-17    6
2010-01-29    6
2010-07-16    6
2009-12-04    6
2009-11-06    5
2010-05-28    5
2009-06-26    5
2010-01-22    5
2012-04-27    5
2011-04-29    5
2012-07-20    5
2009-09-04    5
2009-08-14    5
2010-07-30    5
2009-07-31    5
2012-01-27    4
             ..
2015-01-16    1
2008-10-31    1
2012-07-13    1
2008-01-25    1
2008-08-22    1
2014-07-18    1
2011-09-30    1
2013-01-11    1
2017-05-26    1
2013-06-07    1
2002-01-11    1
2008-03-07    1
2015-02-27    1
2016-09-23    1
2003-05-09    1
2011-05-27    1
2007-09-28    1
2008-09-05    1
2014-05-16    1
2007-10-04    1
2014-01-31    1
2010-03-11    1
2009-06-05    1
2017-01-27    1
2012-07-06    1
2010-06-11    1
2013-05-31    1
2014-12-19    1
2011-01-14    1
2014-06-27    1
Name: Closing Date, Length: 253, dtype: int64

In [20]:
dayCount

23    31
30    30
19    30
20    27
17    23
16    22
4     21
18    21
15    21
7     20
2     20
14    20
28    19
27    19
24    19
22    18
11    18
21    17
29    16
13    16
26    16
5     16
25    15
10    14
8     14
6     14
12    10
9     10
31     9
1      8
3      4
Name: Closing Date, dtype: int64

In [21]:
monthCount

7     74
10    61
4     59
1     51
5     44
2     44
8     41
3     40
9     38
6     36
12    35
11    35
Name: Closing Date, dtype: int64

In [22]:
yearCount

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2017      8
2016      5
2001      4
2004      4
2019      3
2003      3
2007      3
2000      2
Name: Closing Date, dtype: int64

# Parsing XML with lxml.objectify
## XML (eXtensible Markup Language)

In [ ]:
from lxml import objectify
parsed = objectify.parse(open('abc.xml'))
root = parsed.getroot()

In [ ]:
data = []
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
'DESIRED_CHANGE', 'DECIMAL_PLACES']
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
#         print(child.tag)
#         print(child.pyval)
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [ ]:
data

In [ ]:
from io import StringIO
tag = '<a href="http://www.google.com" target="_blank">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [ ]:
root.get('href')

In [ ]:
root.text

In [ ]:
xlsx = pd.ExcelFile('Book1.xlsx')

In [ ]:
pd.read_excel(xlsx, 'Sheet1')

In [ ]:
writer = pd.ExcelWriter('Book1.xlsx')
failures.to_excel(writer,'Sheet1')
writer.save()

# Interacting with Web APIs

In [23]:
import requests

In [29]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)

In [30]:
data = resp.json()
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29241',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29241/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29241/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29241/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/29241',
  'id': 512980469,
  'node_id': 'MDU6SXNzdWU1MTI5ODA0Njk=',
  'number': 29241,
  'title': 'merge vs. join - unify parameter names',
  'user': {'login': 'stefansimik',
   'id': 6208056,
   'node_id': 'MDQ6VXNlcjYyMDgwNTY=',
   'avatar_url': 'https://avatars3.githubusercontent.com/u/6208056?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/stefansimik',
   'html_url': 'https://github.com/stefansimik',
   'followers_url': 'https://api.github.com/users/stefansimik/followers',
   'following_url': 'https://api.github.com/users/stefansimik/following{/other_user}',
   'gists_url': 'https://api.github.com/users/stefansimik/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/stefansimik/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/stefansimik/subscriptions',
   'organizations_url': 'https://api.github.com/users/stefansimik/orgs',
   'repos_url': 'https://api.github.com/users/stefansimik/repos',
   'events_url': 'https://api.github.com/users/stefansimik/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/stefansimik/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-10-27T15:23:52Z',
  'updated_at': '2019-10-27T15:37:27Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'body': "#### Problem description\r\n\r\n`pandas.DataFrame.merge` function is conceptually simillar like `pandas.DataFrame.join` function.\r\n(first one one merges on specified columns, second merges on index).\r\n\r\nThese 2 functions use various parameters to do the same thing:\r\n* `join` function has 2 params:  `lsuffix + rsuffix`\r\n* `merge` function has only 1 param: `suffixes`\r\n\r\nWe should unify names and usage of these parameter(s).\r\nLet's use first way or second way, and deprecate the other way.\r\n\r\n_(Personally, I prefer to have only 1 param `suffixes` as it is shorter and there is 1 param for 1 purpose)._\r\n#### Expected Output\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : None\r\npython           : 3.7.4.final.0\r\npython-bits      : 64\r\nOS               : Windows\r\nOS-release       : 7\r\nmachine          : AMD64\r\nprocessor        : Intel64 Family 6 Model 79 Stepping 1, GenuineIntel\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : None\r\nLOCALE           : None.None\r\n\r\npandas           : 0.25.2\r\nnumpy            : 1.16.5\r\npytz             : 2019.3\r\ndateutil         : 2.8.0\r\npip              : 19.2.3\r\nsetuptools       : 41.4.0\r\nCython           : None\r\npytest           : None\r\nhypothesis       : None\r\nsphinx           : None\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : None\r\nlxml.etree       : 4.4.1\r\nhtml5lib         : None\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : 2.10.3\r\nIPython          : 7.8.0\r\npandas_datareader: None\r\nbs4              : None\r\nbottleneck       : None\r\nfastparquet      : None\r\ngcsfs            : None\r\nlxml.etree       : 4.4.1\r\nmatplotlib       : 3.1.1\r\nnumexpr          : None\r\nodfpy            : None\r\nopenpyxl         : 3.0.0\r\npandas_gbq       : None\r\npyarrow          : 0.14.1\r\npytables         : None\r\ns3fs             : None\r\nscipy            : 1.3.1\r\nsqlalchemy       : None\r\ntables           : None\r\nxarray           : None\r\nxlrd             : 1.2.0\r\nxlwt             : None\r\nxlsxwriter       : None\r\n\r\n</details>\r\n"},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29240',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29240/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29240/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29240/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/29240',
  'id': 512907508,
  'node_id': 'MDU6SXNzdWU1MTI5MDc1MDg=',
  'number': 29240,
  'title': 'Trying to use to_sql on dataframe with numpy.ndarray columns causes ValueError',
  'user': {'login': 'kjfergu',
   'id': 9022843,
   'node_id': 'MDQ6VXNlcjkwMjI4NDM=',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/9022843?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/kjfergu',
   'html_url': 'https://github.com/kjfergu',
   'followers_url': 'https://api.github.com/users/kjfergu/followers',
   'following_url': 'https://api.github.com/users/kjfergu/following{/other_user}',
   'gists_url': 'https://api.github.com/users/kjfergu/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/kjfergu/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/kjfergu/subscriptions',
   'organizations_url': 'https://api.github.com/users/kjfergu/orgs',
   'repos_url': 'https://api.github.com/users/kjfergu/repos',
   'events_url': 'https://api.github.com/users/kjfergu/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/kjfergu/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 2,
  'created_at': '2019-10-27T01:44:31Z',
  'updated_at': '2019-10-27T06:04:42Z',
  'closed_at': None,
  'author_association': 'NONE',
  'body': 'I am trying out using pandas+sqlalchemy (specifically sqlite) as a means to store my data. In my use case, I will have a number of rows where most will be obvious types such as string, int, float, etc - but I will want to store a few numpy ndarrays. In the example below, each \'channel\' entry is a 1x3000 array of floats. For higher dimensional arrays (at most 2D) I plan to store the shape of the data alongside the flattened array, so this is all I need.\r\n\r\n#### Code Sample, a copy-pastable example if possible\r\n\r\nThis was run in Jupyter Lab.\r\n\r\n```python\r\nimport sqlalchemy\r\nimport numpy as np\r\nimport pandas as pd\r\n\r\nengine = sqlalchemy.create_engine(\'sqlite:///:memory:\')\r\nallPts = []\r\n\r\nfor i in range(0,30):\r\n    name = "R"+str(i).zfill(3)\r\n    start = np.random.rand()\r\n    end = np.random.rand()\r\n    data = np.random.random((4,3000))\r\n    thisDict = {\'name\':name,\'start\':start,\'end\':end,\'channel1\':data[:,0],\'channel2\':data[:,1],\'channel3\':data[:,2],\'channel4\':data[:,3]}\r\n    allPts.append(pd.Series(thisDict))\r\nasDF = pd.DataFrame(allPts)\r\nasDF.to_sql(\'dftest\',engine,if_exists=\'replace\')\r\n```\r\n\r\nThis produces the traceback\r\n\r\n```\r\n---------------------------------------------------------------------------\r\nValueError                                Traceback (most recent call last)\r\n<ipython-input-30-e1fb02c5da64> in <module>\r\n----> 1 asDF.to_sql(\'dftest\',engine,if_exists=\'replace\')\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\pandas\\core\\generic.py in to_sql(self, name, con, schema, if_exists, index, index_label, chunksize, dtype, method)\r\n   2710             chunksize=chunksize,\r\n   2711             dtype=dtype,\r\n-> 2712             method=method,\r\n   2713         )\r\n   2714 \r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\pandas\\io\\sql.py in to_sql(frame, name, con, schema, if_exists, index, index_label, chunksize, dtype, method)\r\n    516         chunksize=chunksize,\r\n    517         dtype=dtype,\r\n--> 518         method=method,\r\n    519     )\r\n    520 \r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\pandas\\io\\sql.py in to_sql(self, frame, name, if_exists, index, index_label, schema, chunksize, dtype, method)\r\n   1318         )\r\n   1319         table.create()\r\n-> 1320         table.insert(chunksize, method=method)\r\n   1321         if not name.isdigit() and not name.islower():\r\n   1322             # check for potentially case sensitivity issues (GH7815)\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\pandas\\io\\sql.py in insert(self, chunksize, method)\r\n    754 \r\n    755                 chunk_iter = zip(*[arr[start_i:end_i] for arr in data_list])\r\n--> 756                 exec_insert(conn, keys, chunk_iter)\r\n    757 \r\n    758     def _query_iterator(\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\pandas\\io\\sql.py in _execute_insert(self, conn, keys, data_iter)\r\n    668         """\r\n    669         data = [dict(zip(keys, row)) for row in data_iter]\r\n--> 670         conn.execute(self.table.insert(), data)\r\n    671 \r\n    672     def _execute_insert_multi(self, conn, keys, data_iter):\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\engine\\base.py in execute(self, object_, *multiparams, **params)\r\n    986             raise exc.ObjectNotExecutableError(object_)\r\n    987         else:\r\n--> 988             return meth(self, multiparams, params)\r\n    989 \r\n    990     def _execute_function(self, func, multiparams, params):\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\sql\\elements.py in _execute_on_connection(self, connection, multiparams, params)\r\n    285     def _execute_on_connection(self, connection, multiparams, params):\r\n    286         if self.supports_execution:\r\n--> 287             return connection._execute_clauseelement(self, multiparams, params)\r\n    288         else:\r\n    289             raise exc.ObjectNotExecutableError(self)\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\engine\\base.py in _execute_clauseelement(self, elem, multiparams, params)\r\n   1105             distilled_params,\r\n   1106             compiled_sql,\r\n-> 1107             distilled_params,\r\n   1108         )\r\n   1109         if self._has_events or self.engine._has_events:\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\engine\\base.py in _execute_context(self, dialect, constructor, statement, parameters, *args)\r\n   1251         except BaseException as e:\r\n   1252             self._handle_dbapi_exception(\r\n-> 1253                 e, statement, parameters, cursor, context\r\n   1254             )\r\n   1255 \r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\engine\\base.py in _handle_dbapi_exception(self, e, statement, parameters, cursor, context)\r\n   1473                 util.raise_from_cause(sqlalchemy_exception, exc_info)\r\n   1474             else:\r\n-> 1475                 util.reraise(*exc_info)\r\n   1476 \r\n   1477         finally:\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\util\\compat.py in reraise(tp, value, tb, cause)\r\n    151         if value.__traceback__ is not tb:\r\n    152             raise value.with_traceback(tb)\r\n--> 153         raise value\r\n    154 \r\n    155     def u(s):\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\engine\\base.py in _execute_context(self, dialect, constructor, statement, parameters, *args)\r\n   1227                 if not evt_handled:\r\n   1228                     self.dialect.do_executemany(\r\n-> 1229                         cursor, statement, parameters, context\r\n   1230                     )\r\n   1231             elif not parameters and context.no_parameters:\r\n\r\nc:\\users\\(me)\\documents\\pyenv\\dataproc\\lib\\site-packages\\sqlalchemy\\engine\\default.py in do_executemany(self, cursor, statement, parameters, context)\r\n    575 \r\n    576     def do_executemany(self, cursor, statement, parameters, context=None):\r\n--> 577         cursor.executemany(statement, parameters)\r\n    578 \r\n    579     def do_execute(self, cursor, statement, parameters, context=None):\r\n\r\nValueError: could not convert BLOB to buffer\r\n```\r\n\r\n#### Problem description\r\n\r\nI notice that the bottom of the traceback specifies the error started in sqlalchemy - though for all my googling I can\'t find any record of this problem (or error message) anywhere either with sqlalchemy or pandas. I\'m *assuming* this means I probably am doing something wrong, but I\'m not seeing it when looking at docs etc. Storing a numpy array as a binary blob makes sense to me, so I feel like the type inference makes sense.\r\n\r\n#### Expected Output\r\n\r\nWriting to the database/no error. :)\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\n[paste the output of ``pd.show_versions()`` here below this line]\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : None\r\npython           : 3.7.4.final.0\r\npython-bits      : 64\r\nOS               : Windows\r\nOS-release       : 10\r\nmachine          : AMD64\r\nprocessor        : Intel64 Family 6 Model 158 Stepping 11, GenuineIntel\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : None\r\nLOCALE           : None.None\r\n\r\npandas           : 0.25.1\r\nnumpy            : 1.17.3\r\npytz             : 2019.3\r\ndateutil         : 2.8.0\r\npip              : 19.3\r\nsetuptools       : 40.8.0\r\nCython           : None\r\npytest           : None\r\nhypothesis       : None\r\nsphinx           : None\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : None\r\nlxml.etree       : None\r\nhtml5lib         : None\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : 2.10.3\r\nIPython          : 7.8.0\r\npandas_datareader: None\r\nbs4              : None\r\nbottleneck       : None\r\nfastparquet      : None\r\ngcsfs            : None\r\nlxml.etree       : None\r\nmatplotlib       : 3.1.1\r\nnumexpr          : 2.7.0\r\nodfpy            : None\r\nopenpyxl         : None\r\npandas_gbq       : None\r\npyarrow          : None\r\npytables         : None\r\ns3fs             : None\r\nscipy            : 1.3.1\r\nsqlalchemy       : 1.3.10\r\ntables           : 3.6.0\r\nxarray           : None\r\nxlrd             : None\r\nxlwt             : None\r\nxlsxwriter       : None\r\n\r\n</details>\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29239',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29239/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29239/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29239/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29239',
  'id': 512885663,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzMyODAxNzE4',
  'number': 29239,
  'title': 'BENCH: Improve perf of rolling.Apply.time_rolling',
  'user': {'login': 'qwhelan',
   'id': 440095,
   'node_id': 'MDQ6VXNlcjQ0MDA5NQ==',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/440095?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/qwhelan',
   'html_url': 'https://github.com/qwhelan',
   'followers_url': 'https://api.github.com/users/qwhelan/followers',
   'following_url': 'https://api.github.com/users/qwhelan/following{/other_user}',
   'gists_url': 'https://api.github.com/users/qwhelan/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/qwhelan/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/qwhelan/subscriptions',
   'organizations_url': 'https://api.github.com/users/qwhelan/orgs',
   'repos_url': 'https://api.github.com/users/qwhelan/repos',
   'events_url': 'https://api.github.com/users/qwhelan/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/qwhelan/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-10-26T21:06:21Z',
  'updated_at': '2019-10-26T21:06:21Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/29239',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/29239',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/29239.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/29239.patch'},

In [31]:
data[0]['title']

'merge vs. join - unify parameter names'

In [32]:
issues = pd.DataFrame(data, columns=['number', 'title','labels', 'state'])
issues

,number,title,labels,state
0,29241,merge vs. join - unify parameter names,[],open
1,29240,Trying to use to_sql on dataframe with numpy.n...,[],open
2,29239,BENCH: Improve perf of rolling.Apply.time_rolling,[],open
3,29237,Replace _has_complex_internals #29227,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
4,29236,DOCS: Formatting Errors pandas.TimedeltaIndex,[],open
5,29235,Categories reordered to alphabetical when plot...,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
6,29234,BUG: PeriodEngine doesn't work,[],open
7,29233,read_csv encode operation on source,"[{'id': 47229171, 'node_id': 'MDU6TGFiZWw0NzIy...",open
8,29232,CLN: assorted cleanups,[],open
9,29229,API/DOC: an ExtensionDtype.__from_arrow__ meth...,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
10,29228,CLN: prevent libreduction TypeError,[],open
11,29227,Replace _has_complex_internals with isinstance...,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
12,29226,Remove TestData in frame tests in multiple fil...,[],open
13,29224,Period index 29204,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
14,29223,CI: include pyarrow 0.15.0 / latest release in...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
15,29220,Remove TestData in series tests indexing,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
16,29218,ENH: Show column name in assert_frame_equal,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
17,29217,In read_excel parse_date=False is not working,"[{'id': 49254273, 'node_id': 'MDU6TGFiZWw0OTI1...",open
18,29216,# noqa removal in code base,[],open
19,29214,CI/TST: Better information about the tests in ...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
20,29213,BUG: pd.Dataframe.from_dict when first value i...,[],open
21,29212,CI: Drop Python 3.5 support,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
22,29211,Adding test for assert_equal_index with empty ...,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
23,29208,REF: Dependency Structure Simplification,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
24,29205,TYPING: Added types for some tests,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
25,29204,DOCS: docstrings formatting errors in pandas.P...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
26,29203,Improve docs on what the axis= kwarg does in i...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
27,29197,MyPy Error Codes,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
28,29193,Test For MultiIndex not contained item,"[{'id': 71268330, 'node_id': 'MDU6TGFiZWw3MTI2...",open
29,29192,Removed generate_bins_generic,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open

# Interacting with Databases

In [45]:
import sqlite3
query = """
    CREATE TABLE test123
    (a VARCHAR(20), b VARCHAR(20),
    c REAL, d INTEGER);"""

In [46]:
print(query)

    CREATE TABLE test123
    (a VARCHAR(20), b VARCHAR(20),
    c REAL, d INTEGER);

In [47]:
con = sqlite3.connect('mydata.sqlite')

In [48]:
con.execute(query)

OperationalError: table test123 already exists

In [49]:
con.commit()

In [50]:
data = [('Atlanta', 'Georgia', 1.25, 6),
('Tallahassee', 'Florida', 2.6, 3),
('Sacramento', 'California', 1.7, 5)]

In [51]:
stmt = "INSERT INTO test123 VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [52]:
cursor = con.execute('select * from test123')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [33]:
x =[1,2,3,4,5,6,7,8]
y =[2,4,6,8,10,12,14,16]
z =[3,6,9,12,15,18,21,24]

a =[x,y,z]


zipp = zip(*a)

In [34]:
for vals in zipp:
    print(vals)

(1, 2, 3)
(2, 4, 6)
(3, 6, 9)
(4, 8, 12)
(5, 10, 15)
(6, 12, 18)
(7, 14, 21)
(8, 16, 24)

In [38]:
x=["Ali", 'Aamir']  # packing
x

['Ali', 'Aamir']

In [39]:
teacher, student = x # unpacking

In [40]:
teacher

'Ali'

In [41]:
student

'Aamir'