In [2]:
import pandas as pd  
import numpy as np

# Series

In [3]:
obj = pd.Series([4,3,2,1])
obj

0    4
1    3
2    2
3    1
dtype: int64

In [4]:
obj.ndim

1

In [5]:
obj.values

array([4, 3, 2, 1], dtype=int64)

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
obj2 = pd.Series(obj.values,index=['a','b','c','d'])
obj2

a    4
b    3
c    2
d    1
dtype: int64

In [12]:
obj2.values

array([4, 3, 2, 1], dtype=int64)

In [13]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [14]:
obj2['a']

4

In [16]:
obj2['b']=9
obj2

a    4
b    9
c    2
d    1
dtype: int64

In [17]:
obj2[['d','c','b','a']]

d    1
c    2
b    9
a    4
dtype: int64

In [18]:
obj2[obj2>2]

a    4
b    9
dtype: int64

In [19]:
obj2*2

a     8
b    18
c     4
d     2
dtype: int64

In [20]:
np.exp(obj2)

a      54.598150
b    8103.083928
c       7.389056
d       2.718282
dtype: float64

In [27]:
np.exp(obj2)

a      54.598150
b    8103.083928
c       7.389056
d       2.718282
dtype: float64

# Series with Dictionaries

In [32]:
ddata = {  "qasim":1000,
            "Ali":2000,
            "raza":30000,
            "asad":40000
        }
obj3 = pd.Series(ddata)
obj3

qasim     1000
Ali       2000
raza     30000
asad     40000
dtype: int64

In [39]:
dkey = { 'zaidi','qasim','Ali','raza'}
obj4 = pd.Series(ddata , index = dkey)
obj4

zaidi        NaN
Ali       2000.0
qasim     1000.0
raza     30000.0
dtype: float64

In [40]:
obj4.isnull() #we can also did that through pd.isnull(obj4)

zaidi     True
Ali      False
qasim    False
raza     False
dtype: bool

In [41]:
obj4.notnull()

zaidi    False
Ali       True
qasim     True
raza      True
dtype: bool

In [42]:
pd.isnull(obj4)

zaidi     True
Ali      False
qasim    False
raza     False
dtype: bool

In [43]:
obj3

qasim     1000
Ali       2000
raza     30000
asad     40000
dtype: int64

In [44]:
obj4

zaidi        NaN
Ali       2000.0
qasim     1000.0
raza     30000.0
dtype: float64

In [45]:
obj3+obj4 #it did addition through Alphabaticially in order

Ali       4000.0
asad         NaN
qasim     2000.0
raza     60000.0
zaidi        NaN
dtype: float64

In [47]:
obj4.name = "Student data"
obj4

zaidi        NaN
Ali       2000.0
qasim     1000.0
raza     30000.0
Name: Student data, dtype: float64

In [49]:
obj4.index.name = "students"
obj4

students
zaidi        NaN
Ali       2000.0
qasim     1000.0
raza     30000.0
Name: Student data, dtype: float64

In [50]:
obj

0    4
1    9
2    2
3    1
Name: Student data, dtype: int64

In [61]:
obj.index=("a","b","c","d")
obj

a    4
b    9
c    2
d    1
Name: Student data, dtype: int64

In [57]:
obj5 = pd.Series(obj,index=['a','b','c','d']) # through this method we cannot change index for that see above cell
obj5

a   NaN
b   NaN
c   NaN
d   NaN
Name: Student data, dtype: float64

In [63]:
obj6 = pd.Series([1,2,3,4],index=['a','b','c','d']) #through this we can make new series with index of our choise
obj6

a    1
b    2
c    3
d    4
dtype: int64

In [70]:
del obj6['a'] # i try it twise once it delected second time it will give error

KeyError: 'a'

In [71]:
obj6

b    2
c    3
d    4
dtype: int64

In [73]:
'b' in obj6

True

In [74]:
'a' in obj6

False