In [1]:
print("Hello World")

Hello World

In [2]:
print('Hello world')

Hello world

In [3]:
marks = "your marks are :"

In [5]:
marks = "none"
print(marks)

none

In [6]:
name = "imran"

In [ ]:
int number = 23;

In [20]:
number1 = 5
number2 = 8

In [21]:
type(number1)

str

In [18]:
number3 = number1 + number2

13

In [16]:
print(number1)

13

In [12]:
5+8

13

In [1]:
8-5

3

In [2]:
1*6

6

In [4]:
num = 15/5

In [5]:
type(num)

float

In [6]:
int(num)

3

In [12]:
17//3

5

In [13]:
import math

In [14]:
math.ceil(5.88)

6

In [15]:
math.ceil(5.44)

6

In [16]:
math.floor(5.1)

5

In [18]:
10%3

1

In [19]:
num1 = 3

In [20]:
num1 = num1+5

In [26]:
num = 5
num1  -= num

In [27]:
num1

3

In [35]:
fname = "Imran " 
lname = 5

In [37]:
concatenate = fname + str(lname)

In [38]:
print(concatenate)

Imran 5

In [47]:
money = 25
if money<10 or money == 10 or money == 15 :
    print("you cannot buy any pen.")
    print("body not ended yet")
else:
    print("you can buy black pen.")
    
print("body ended")

you can buy black pen.
body ended

In [54]:
dress="polyester"
desginer = "Qasim"
if dress == "cotton":
    if designer == " Imran":
        print("Its good")
    else:
        print("show something else")
elif dress =="polyester":
    if desginer =="Qasim":
        print("It's good")
    else:
        print("show another")
else:
    print("goto to another shop")

It's good

In [2]:
Students =["Qasim","Afaq" ,"Atif", "Nasir"]

In [5]:
print(Students[2])

Atif

In [22]:
mix_list =[1,'Afaq' ,'Atif', 3]

In [8]:
mix_list[1]

Afaq

In [9]:
Students.append("Ali")

In [10]:
Students

['Qasim', 'Afaq', 'Atif', 'Nasir', 'Ali']

In [12]:
Students.insert(2,"Raza")

In [13]:
Students

['Qasim', 'Afaq', 'Raza', 'Atif', 'Nasir', 'Ali']

In [20]:
small_list = Students[:3]

In [21]:
small_list

['Qasim', 'Afaq', 'Raza']

In [24]:
del Students[5]

IndexError: list assignment index out of range

In [25]:
Students

['Qasim', 'Afaq', 'Raza', 'Atif', 'Nasir']

In [26]:
Students.remove('Raza')

In [27]:
Students

['Qasim', 'Afaq', 'Atif', 'Nasir']

In [31]:
name = Students.pop(3)

In [32]:
name

'Nasir'

In [33]:
Students

['Qasim', 'Afaq', 'Atif']

In [35]:
Students_left = []

In [36]:
Students_left.insert(1,Students.pop(1))

In [37]:
Students_left

['Afaq']

In [38]:
Students

['Qasim', 'Atif']

In [39]:
Students.insert(1,Students.pop(0))

In [40]:
Students

['Atif', 'Qasim']

In [42]:
Students = ['Qasim', 'Afaq', 'Raza', 'Atif', 'Nasir']

In [43]:
name = "Raza"

for Check_Student in Students:
    if name == Check_Student:
        print("yes it is a student")

yes it is a student

In [44]:
cities = ["Karachi","Kashmir","Multan","Rawalpindi"]

In [45]:
tourism_city = "Kashmir"

for city in cities:
    if tourism_city ==city:
        print("I'm willing to go for a tour")

I'm willing to go for a tour

In [3]:
fnames = ["Qasim","mehmood","muneeb"]
lnames = ["Hassan","khan","ullah"]

In [6]:
for i in fnames:
    for j in lnames:
        print(f"complete names is {i} {j}")

complete names is Qasim Hassan
complete names is Qasim khan
complete names is Qasim ullah
complete names is mehmood Hassan
complete names is mehmood khan
complete names is mehmood ullah
complete names is muneeb Hassan
complete names is muneeb khan
complete names is muneeb ullah

In [7]:
name = input("What is your name ?")

print(f"My name is {name}")

What is your name ?Qasim
My name is Qasim

In [12]:
marks = input("What are your marks in test ?")

print(f"My marks are {marks}")

What are your marks in test ?12
My marks are 12

In [13]:
marks = input("What are your marks in test ?")

What are your marks in test ?12

In [15]:
type(marks)

str

In [17]:
5+ int(marks)

17

In [20]:
name = input("What is your name ?")

print(f"My name is {name.title()}")

What is your name ?qAsIm
My name is Qasim

In [2]:
Student = {"fname" :"Qasim" , "lname": "Hassan" , "age" : 15 , "address" : "Karsaz"}

In [3]:
first_name = Student["fname"]  #through key

In [4]:
first_name

'Qasim'

In [5]:
first_name = Student["Qasim"]

KeyError: 'Qasim'

In [6]:
cities = { 1:"karachi" , 2:"Multan" , 3 : "Lahore"}

In [7]:
cities[1]

'karachi'

In [8]:
cities = { "karachi":1 , "Multan":2 ,  "Lahore":3}

In [9]:
cities["karachi"]

1

In [12]:
cities["Islamabad"] = 4

In [13]:
cities

{'karachi': 1, 'Multan': 2, 'Lahore': 3, 'Islamabd': 4, 'Islamabad': 4}

In [14]:
del cities["Islamabd"]

In [15]:
cities

{'karachi': 1, 'Multan': 2, 'Lahore': 3, 'Islamabad': 4}

In [16]:
cities["Islamabad"] = 1
cities ["karachi"] = 4

In [17]:
cities

{'karachi': 4, 'Multan': 2, 'Lahore': 3, 'Islamabad': 1}

In [18]:
for city in cities.values():
    print(city)

4
2
3
1

In [19]:
for city in cities.keys():
    print(city)

karachi
Multan
Lahore
Islamabad

In [22]:
for city_key , city_value in cities.items():
    print (f"city {city_key} is at {city_value}")

city karachi is at 4
city Multan is at 2
city Lahore is at 3
city Islamabad is at 1

In [23]:
name = input("Enter your name")
print("my name is" ,name )

Enter your nameQasim
my name is Qasim

In [24]:
name = input("Enter your name")
print("my name is" + name)

Enter your nameQasim
my name isQasim

In [ ]:
name = input("Enter your name")
print(f"my name is" {name})