In [1]:
def name():
    print ("my name is Qasim")

In [2]:
name()

my name is Qasim

In [3]:
def add(a,b):
    print(a+b)

In [4]:
add(2,3)

5

In [5]:
def sub(a=5,b=2):
    print(a-b)

In [6]:
sub()

3

In [7]:
sub(6,4)

2

In [8]:
sub (a=9)

7

In [ ]:
def poraname(f_name , m_name , l_name):
    poraname =f_name + m_name + l_name
    return poraname

In [ ]:
q = poraname("Qasim ","hassan ","khan")
q

'Qasim hassan khan'

# keyword argument

In [ ]:
q = poraname(l_name = "khan",f_name = "qasim ", m_name = "hassan " )
q

'qasim hassan khan'

In [ ]:
def person(name ,age,gender= 'Male', city  = 'Karachi'):
    print (f"my name is  {name}.")
    print (f"my age is {age}.")
    print (f"my gender is {gender}.")
    print (f"my city is {city}.")

In [ ]:
person ("qasim",19 ,city = "lahore")

my name is  qasim.
my age is 19.
my gender is Male.
my city is lahore.

In [ ]:
def shop(t_bill,disc = 50):
    amount = t_bill*disc/100
    return amount

In [ ]:
x =  shop(5000)
x

2500.0

In [ ]:
y = shop (3000,25)
y

750.0

In [ ]:
t_bill = int(input("Enter your amount :"))
amount = t_bill*50/100
print (amount)

In [ ]:
t_bill = int(input("Enter your amount :"))
disc = int(input("Enter discount :"))
def shop(t_bill,disc):
    amount = t_bill*disc/100
    return amount
x = amount
x

In [ ]:
def pizza(size,*topings):
    print(f"your pizza size {size}.")
    print(f"your topings  {topings}.")

In [ ]:
pizza('extra large','cheese','fajita','chicken')

In [ ]:
def pizza(size,*topings): #arbitory argument hamesha last main hu ga 
    print(f"your pizza size {size}.")
    for topings in topings:
        print(f"your topings  {topings}.")

In [ ]:
pizza ("extra large",'cheese','fajita')

In [ ]:
f_name = "Qasim Hassan"
l_name = "khan"
age = 55 
print(f"my name is {f_name} {l_name} and my age is {age}")

In [1]:
def info(name , email , cnic ,  **others):
    print(f"my name is {name}.")
    print(f"my email is {email}.")
    print(f"my cnic no is {cnic}.")
    print(f"my other info is {others}")

In [2]:
info ("Qasim Hasan","abc@example.com","123456789",location = "karachi",gender = "male")

my name is Qasim Hasan.
my email is abc@example.com.
my cnic no is 123456789.
my other info is {'location': 'karachi', 'gender': 'male'}

In [3]:
def info(name , email , cnic ,  **others):
    print(f"my name is {name}.")
    print(f"my email is {email}.")
    print(f"my cnic no is {cnic}.")
    for key ,values in others.items():
        print(key , ":",value)

# local and global

In [7]:
salary = 12
def piaic():
    print(salary)
piaic()

12

In [8]:
salary = 12
def piaic():
    salary = 23
    print(salary)
piaic()

23

In [10]:
def make_album(artist_name,album_title):
    return{"artist":artist_name , "album":album_title}

In [11]:
album1 = make_album("Atifaslam" , "yadein")
album2 = make_album("Arijitsingh", "dil")

In [12]:
print(album1)
print(album2)

{'artist': 'Atifaslam', 'album': 'yadein'}
{'artist': 'Arijitsingh', 'album': 'dil'}