In [1]:
city_1 = "karachi"
city_2 = "lahore"
#list
cities = ['karachi','lahore','islamabad','peshawar']

In [2]:
cities

['karachi', 'lahore', 'islamabad', 'peshawar']

In [3]:
len(cities) # no of members

4

In [4]:
#index
cities = ['karachi','lahore','islamabad','peshawar']
index no =    0        1         2          3

SyntaxError: invalid syntax (<ipython-input-4-b435f8d14312>, line 3)

In [ ]:
#to get list member
cities[0]  #get member at index 0
cities[2]   #get member at index 2

In [ ]:
mix = [ 'str',0,5,6,True ]
mix

In [ ]:
type(mix)

In [ ]:
list_in_list = [ 'str',0,5,6,True , cities]
list_in_list

In [ ]:
list_in_list[5][1]

In [ ]:
del mix[1]
mix

In [ ]:
mix.remove('str') 
mix

In [ ]:
# signature function's definition
# SHIFT+TAB

In [6]:
faculty = ['hamza','ali']
faculty

['hamza', 'ali']

In [7]:
faculty.append('shahzad')
faculty

['hamza', 'ali', 'shahzad']

In [8]:
 # To add a value w/c to your will
faculty.insert(0,'qasim')
faculty

['qasim', 'hamza', 'ali', 'shahzad']

In [12]:
faculty[2]  = 'haseeb'
faculty

['qasim', 'hamza', 'haseeb', 'shahzad']

In [13]:
faculty.index('haseeb')

2

In [17]:
numbers = [4,42,5,7,8,9,1]
numbers.sort() # assending order
numbers

[1, 4, 5, 7, 8, 9, 42]

In [18]:
numbers.sort(reverse=True)
numbers   #reverse

[42, 9, 8, 7, 5, 4, 1]

In [19]:
alp = ['a','v','b','c','k','j']
alp.sort()
alp

['a', 'b', 'c', 'j', 'k', 'v']

In [20]:
alp.sort(reverse=True)
alp

['v', 'k', 'j', 'c', 'b', 'a']

In [24]:
duplicate = [1,2,8,6,4,4,0,0,0]
duplicate.sort()
duplicate

[0, 0, 0, 1, 2, 4, 4, 6, 8]

In [29]:
# "indexing"
# remove last value of  list and add it to another list
l1 = ['str1','str2','str3','str4']
l=l1.pop()# delete kia list main se or l main dal dia 
l=l1.pop(0)
l

'str1'

# slices

In [33]:
numbers = [1,2,3,4,5]
# number[start:end] # is se is tak #slice take place through inndex
a = numbers[2:4]
print(a)

[3, 4]

In [34]:
print (numbers)

[1, 2, 3, 4, 5]

In [38]:
#-ve indexing
alpn = [1,'a',4,'t',5,'c']
#-ve   [-6,-5,-4,-3,-2,-1]
print(alpn)

[1, 'a', 4, 't', 5, 'c']

In [40]:
alpn[-2]

5

In [44]:
# alpn['1','3'] didnt show anything with this
alpn[-3:-1]

['t', 5]