# loop

In [ ]:
my number = [1,2,4,6,8,10]

In [3]:
name = ['ali','umer','haseeb','amir','hannan']
for name2 in name:
    print(name2)

ali
umer
haseeb
amir
hannan

In [4]:
for i in range(11):
    print(i,"saylani trust")

0 saylani trust
1 saylani trust
2 saylani trust
3 saylani trust
4 saylani trust
5 saylani trust
6 saylani trust
7 saylani trust
8 saylani trust
9 saylani trust
10 saylani trust

In [8]:
for a in range(1,11):
     print(a,'qasim hassan')

1 qasim hassan
2 qasim hassan
3 qasim hassan
4 qasim hassan
5 qasim hassan
6 qasim hassan
7 qasim hassan
8 qasim hassan
9 qasim hassan
10 qasim hassan

In [10]:
for a in range(1,11,1):
    print(a,"piaic")

1 piaic
2 piaic
3 piaic
4 piaic
5 piaic
6 piaic
7 piaic
8 piaic
9 piaic
10 piaic

In [11]:
for a in range(1,11,2):
    print(a,"PIAIC")

1 PIAIC
3 PIAIC
5 PIAIC
7 PIAIC
9 PIAIC

In [16]:
for r in range(10,0,-1):
    
    print(r,end=" \n")  #escap character

10
9
8
7
6
5
4
3
2
1

In [18]:
print ('ali','hamza','qasim','hassan',sep="******")

ali******hamza******qasim******hassan

In [19]:
name = "qasim"
age = "18"
print ("my name is name and my age is age")

my name is name and my age is age

In [20]:
name = "qasim"
age = "18"
print ("my name is " +name +" and my age is "+age)

my name is qasim and my age is 18

In [23]:
print ("my name is {0} and my age is {1}".format(name,age))
                                      #FORMAT (  0, 1 )

my name is 18 and my age is qasim

In [25]:
print (f"my name is {name} and my age is {age} ")

my name is qasim and my age is 18

In [26]:
print("my name is ",name,"and my age is ",age)

my name is  qasim and my age is  18

In [35]:
#print table
table= int(input("Enter table number = "))
for a in range(1,11):
    print(f"{table}*{a}={table*a}")

Enter table number = 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [ ]:
#break ,continus,pass

In [47]:
number = int(input("enter any number = "))
for i in range(1,11,1):
    if i==3:
        break
    print(f"{number}*{i}={number*i}")

enter any number = 4
4*1=4
4*2=8

In [53]:
dost = ['ali','qasim','haseeb','hannan','amir']
for i in dost:
    if i !="haseeb":
        print("enjoy")
    else:
            print("khtm sab")
            break

enjoy
enjoy
khtm sab

In [55]:
 for a in range(10):
        pass

# nested for loop

In [59]:
for a in range(10):
    print(a)
for b in ['a','b','c','d']:
     print(a,b)

0
1
2
3
4
5
6
7
8
9
9 a
9 b
9 c
9 d

In [66]:
for a in range(3):
    for b in ['a','b','c','d']:
        print(a,b)

0 a
0 b
0 c
0 d
1 a
1 b
1 c
1 d
2 a
2 b
2 c
2 d

In [70]:
for i in range(2,11):
    print("==============")
    for j in range(1,11):
            print(f"{i}*{j}={i*j}")

==============
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
==============
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
==============
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
==============
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
==============
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
==============
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
==============
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
==============
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
==============
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100