# loop

In [ ]:
my number = [1,2,4,6,8,10]

In [3]:
name = ['ali','umer','haseeb','amir','hannan']
for name2 in name:
    print(name2)

ali
umer
haseeb
amir
hannan

In [4]:
for i in range(11):
    print(i,"saylani trust")

0 saylani trust
1 saylani trust
2 saylani trust
3 saylani trust
4 saylani trust
5 saylani trust
6 saylani trust
7 saylani trust
8 saylani trust
9 saylani trust
10 saylani trust

In [8]:
for a in range(1,11):
     print(a,'qasim hassan')

1 qasim hassan
2 qasim hassan
3 qasim hassan
4 qasim hassan
5 qasim hassan
6 qasim hassan
7 qasim hassan
8 qasim hassan
9 qasim hassan
10 qasim hassan

In [10]:
for a in range(1,11,1):
    print(a,"piaic")

1 piaic
2 piaic
3 piaic
4 piaic
5 piaic
6 piaic
7 piaic
8 piaic
9 piaic
10 piaic

In [11]:
for a in range(1,11,2):
    print(a,"PIAIC")

1 PIAIC
3 PIAIC
5 PIAIC
7 PIAIC
9 PIAIC

In [16]:
for r in range(10,0,-1):
    
    print(r,end=" \n")  #escap character

10
9
8
7
6
5
4
3
2
1

In [18]:
print ('ali','hamza','qasim','hassan',sep="******")

ali******hamza******qasim******hassan

In [19]:
name = "qasim"
age = "18"
print ("my name is name and my age is age")

my name is name and my age is age

In [20]:
name = "qasim"
age = "18"
print ("my name is " +name +" and my age is "+age)

my name is qasim and my age is 18

In [23]:
print ("my name is {0} and my age is {1}".format(name,age))
                                      #FORMAT (  0, 1 )

my name is 18 and my age is qasim

In [25]:
print (f"my name is {name} and my age is {age} ")

my name is qasim and my age is 18

In [26]:
print("my name is ",name,"and my age is ",age)

my name is  qasim and my age is  18

In [35]:
#print table
table= int(input("Enter table number = "))
for a in range(1,11):
    print(f"{table}*{a}={table*a}")

Enter table number = 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [ ]:
#break ,continus,pass

In [47]:
number = int(input("enter any number = "))
for i in range(1,11,1):
    if i==3:
        break
    print(f"{number}*{i}={number*i}")

enter any number = 4
4*1=4
4*2=8

In [53]:
dost = ['ali','qasim','haseeb','hannan','amir']
for i in dost:
    if i !="haseeb":
        print("enjoy")
    else:
            print("khtm sab")
            break

enjoy
enjoy
khtm sab

In [55]:
 for a in range(10):
        pass

# nested for loop

In [59]:
for a in range(10):
    print(a)
for b in ['a','b','c','d']:
     print(a,b)

0
1
2
3
4
5
6
7
8
9
9 a
9 b
9 c
9 d

In [66]:
for a in range(3):
    for b in ['a','b','c','d']:
        print(a,b)

0 a
0 b
0 c
0 d
1 a
1 b
1 c
1 d
2 a
2 b
2 c
2 d